# neXus Initialize
on early-init
	chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
	chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
	chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
	chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
	write /sys/module/msm_performance/parameters/cpu_oc Y
	write /sys/devices/system/cpu/cpufreq/policy0/scaling_max_freq 1612800
	write /sys/devices/system/cpu/cpufreq/policy4/scaling_max_freq 1804800
	write /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq 633600
	write /sys/devices/system/cpu/cpufreq/policy4/scaling_min_freq 1113600
	write /sys/module/msm_performance/parameters/cpu_max_freq "0:1612800 1:1612800 2:1612800 3:1612800 4:1804800 5:1804800 6:1804800 7:1804800"
	write /sys/module/msm_performance/parameters/cpu_min_freq "0:633600 1:633600 2:633600 3:633600 4:1113600 5:1113600 6:1113600 7:1113600"
	write /sys/module/msm_performance/parameters/cpu_oc N

on init
    # Set Memory parameters
    write /sys/module/process_reclaim/parameters/enable_process_reclaim 1
    write /sys/module/process_reclaim/parameters/pressure_min 50
    write /sys/module/process_reclaim/parameters/pressure_max 70
    write /sys/module/process_reclaim/parameters/swap_opt_eff 30
    write /sys/module/process_reclaim/parameters/per_swap_size 512
    # Configure swap
    write /sys/module/vmpressure/parameters/allocstall_threshold 0
    write /proc/sys/vm/vfs_cache_pressure 100
    write /proc/sys/vm/page-cluster 0
    write /proc/sys/vm/min_free_kbytes 54688
    write /proc/sys/vm/oom_kill_allocating_task 1

on boot
    # Set on boot cpusets
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-3,6-7
    write /dev/cpuset/background/cpus 0-1
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/restricted/cpus 0-3
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0-7
    write /dev/cpuset/camera-daemon/mems 0
    chown system system /dev/cpuset/camera-daemon
    chown system system /dev/cpuset/camera-daemon/tasks
    chmod 0664 /dev/cpuset/camera-daemon/tasks

on post-fs
    # Set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864
    chmod 0664 /sys/devices/virtual/graphics/fb0/idle_time
    chown system graphics /sys/devices/virtual/graphics/fb0/idle_time
    write /sys/devices/virtual/graphics/fb0/idle_time 100

on property:sys.boot_completed=1
	write /sys/devices/system/cpu/cpu0/core_ctl/enable 0
	write /sys/module/lowmemorykiller/parameters/minfree "18432,23040,27648,32256,55296,80640"
	write /sys/module/vmpressure/parameters/allocstall_threshold 0
	write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "schedhorizon"
	write /sys/devices/system/cpu/cpufreq/policy4/scaling_governor "schedhorizon"
	write /sys/block/mmcblk0/queue/scheduler "anxiety"
	write /sys/block/mmcblk0/queue/iosched/batch_count 2
	write /sys/block/mmcblk0/queue/iosched/sync_ratio 4
	write /sys/block/mmcblk0/queue/nr_requests 64
	write /sys/block/dm-0/queue/scheduler "anxiety"
	write /sys/block/dm-0/queue/iosched/batch_count 2
	write /sys/block/dm-0/queue/iosched/sync_ratio 4
	write /sys/block/dm-0/queue/nr_requests 64
	write /sys/block/mmcblk1/queue/scheduler "anxiety"
	write /sys/block/mmcblk1/queue/iosched/batch_count 2
	write /sys/block/mmcblk1/queue/iosched/sync_ratio 4
	write /sys/block/mmcblk1/queue/nr_requests 64
    write /sys/block/mmcblk0/queue/read_ahead_kb 128
    write /sys/block/mmcblk0/queue/iostats 0
    write /sys/block/mmcblk0/queue/add_random 0
    write /sys/block/mmcblk0/queue/rq_affinity 0
    write /sys/block/mmcblk1/queue/read_ahead_kb 128
    write /sys/block/mmcblk1/queue/iostats 0
    write /sys/block/mmcblk1/queue/add_random 0
    write /sys/block/mmcblk1/queue/rq_affinity 0
	write /proc/sys/fs/lease-break-time 10
    # Setup final blkio - value for group_idle is us
    write /dev/blkio/blkio.weight 1000
    write /dev/blkio/background/blkio.weight 10
    write /dev/blkio/blkio.group_idle 2000
    write /dev/blkio/background/blkio.group_idle 0
    # Block layer tuning: discard chunk size up to 128MB. Otherwise, contiguous discards can be merged
    write /sys/block/mmcblk0/queue/discard_max_bytes 134217728
    write /sys/block/dm-0/queue/discard_max_bytes 134217728
   # GPU
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 430000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 160000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/polling_interval 10
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 0
    write /sys/class/kgsl/kgsl-3d0/throttling 1
    write /sys/class/kgsl/kgsl-3d0/force_clk_on 0
    write /sys/class/kgsl/kgsl-3d0/force_bus_on 0
    write /sys/class/kgsl/kgsl-3d0/force_rail_on 0
    write /sys/class/kgsl/kgsl-3d0/force_no_nap 0
    # DSBoost
    write /sys/module/dsboost/parameters/input_boost_duration 64
    write /sys/module/dsboost/parameters/input_stune_boost 10
    write /sys/module/dsboost/parameters/sched_stune_boost 10
    write /sys/module/dsboost/parameters/cooldown_boost_duration 64
    write /sys/module/dsboost/parameters/cooldown_stune_boost 10
    # CPU Boost
    write /sys/module/cpu_boost/parameters/input_boost_ms 64
    write /sys/module/cpu_boost/parameters/input_boost_ms_s2 64
    write /sys/module/cpu_boost/parameters/dynamic_stune_boost 10
    # CPU Input Boost
    write /sys/module/cpu_input_boost/parameters/input_boost_freq_hp 1401600
    write /sys/module/cpu_input_boost/parameters/input_boost_freq_lp 1401600
    write /sys/module/cpu_input_boost/parameters/dynamic_stune_boost 10
    write /sys/module/cpu_input_boost/parameters/input_boost_duration 64
    write /sys/module/cpu_input_boost/parameters/general_stune_boost 10
    # Dev Stune
    write /dev/stune/schedtune.boost 5
    write /dev/stune/top-app/schedtune.boost 5
    write /dev/stune/top-app/schedtune.sched_boost 10
    write /dev/stune/top-app/schedtune.prefer_idle 1
    # Wakeup Threshold
    write /proc/sys/kernel/random/read_wakeup_threshold 64
    write /proc/sys/kernel/random/write_wakeup_threshold 128
    # Wakeup Threshold
    write /sys/module/msm_thermal/core_control/enabled 1
    # Fsync Enabled
    write /sys/module/sync/parameters/fsync_enabled Y
    # Lease Break Time
    write /proc/sys/fs/lease-break-time 25
    # Dyn Fsync Active
    write /sys/kernel/dyn_fsync/Dyn_fsync_active 0
    # MMC Core
    write /sys/module/mmc_core/parameters/use_spi_crc 1
    # Setup Kernel
    write /proc/sys/kernel/sched_boost 0
    write /proc/sys/kernel/sched_child_runs_first 1
    write /proc/sys/kernel/timer_migration 1
    # Workqueue
    write /sys/module/workqueue/parameters/power_efficient 1
    # Sched MC Power Savings
    write /sys/devices/system/cpu/sched_mc_power_savings 1
    # LMK
    write /sys/module/lowmemorykiller/parameters/enable_lmk 0
    write /sys/module/lowmemorykiller/parameters/adj 0,258,417,676,824,1000
    write /sys/module/lowmemorykiller/parameters/minfree 6999,13998,20997,27996,34955,41994
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 0
    write /sys/module/lowmemorykiller/parameters/lmk_fast_run 0
    # Devfreq
    write /sys/class/devfreq/cc00000.qcom,vidc:venus_bus_ddr/governor "venus-ddr-gov"
    write /sys/class/devfreq/mmc0/governor "simple_ondemand"
    write /sys/class/devfreq/mmc1/governor "simple_ondemand"
    write /sys/class/devfreq/soc:devfreq_spdm_cpu/governor "spdm_bw_hyp"
    write /sys/class/devfreq/soc:qcom,cpubw/governor "bw_hwmon"
    write /sys/class/devfreq/soc:qcom,gpubw/governor "bw_vbif"
    write /sys/class/devfreq/soc:qcom,kgsl-busmon/governor "gpubw_mon"
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/governor "mem_latency"
    write /sys/class/devfreq/soc:qcom,memlat-cpu4/governor "mem_latency"
    write /sys/class/devfreq/soc:qcom,mincpubw/governor "cpufreq"
    # Virtual Memory
    write /proc/sys/vm/swappiness 80
    # SETProp
    setprop ro.sys.fw.bg_apps_limit 160
    setprop ro.vendor.qti.sys.fw.bg_apps_limit 160
    setprop ro.vendor.qti.sys.fw.bservice_limit 160
    # Setup FInal Cpuset
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-3,6-7
    write /dev/cpuset/background/cpus 0-1
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/restricted/cpus 0-3
    write /dev/cpuset/audio-app/cpus 0-2